<div class="col-xs-8 col-xs-offset-2 well text-black">
	<div class="panel-heading" id="accordion" style="padding-bottom: 0px;">
		<h2 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="line-height: 1.5; font-size: 24px; font-weight: 500;">Click to see donations</a>
		</h2>
	</div>
	<div id="collapseThree" class="panel-collapse collapse">
		<div class="panel-body" style="padding-top: 0px;">
			<h4><%= JSON.parse(HTTParty.get("https://www.dogeapi.com/wow/v2/?api_key=1e0zh9wruemcmom3r4kml92kg&a=get_transactions&num=5&type=receive").body)['data']['transactions'][0]['amount'] %> Thanks!</h4>
			<h4><%= JSON.parse(HTTParty.get("https://www.dogeapi.com/wow/v2/?api_key=1e0zh9wruemcmom3r4kml92kg&a=get_transactions&num=5&type=receive").body)['data']['transactions'][1]['amount'] %> Thanks!</h4>
			<h4><%= JSON.parse(HTTParty.get("https://www.dogeapi.com/wow/v2/?api_key=1e0zh9wruemcmom3r4kml92kg&a=get_transactions&num=5&type=receive").body)['data']['transactions'][2]['amount'] %> Thanks!</h4>
			<h4><%= JSON.parse(HTTParty.get("https://www.dogeapi.com/wow/v2/?api_key=1e0zh9wruemcmom3r4kml92kg&a=get_transactions&num=5&type=receive").body)['data']['transactions'][3]['amount'] %> Thanks!</h4>
			<h4><%= JSON.parse(HTTParty.get("https://www.dogeapi.com/wow/v2/?api_key=1e0zh9wruemcmom3r4kml92kg&a=get_transactions&num=5&type=receive").body)['data']['transactions'][4]['amount'] %> Thanks!</h4>
		</div>
	</div>
</div>